*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-color-main: #000000;
  --background-card-color-main: #ffffff;
  --border-color-main: #cacaca;
  --text-color-main: #000000;
  --text-color-button: #ffffff;
  --text-color-disabled: #cacaca;
  --google-blue: #4285f4;

}

html {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html,
body {
  height: 100%;
  background: var(--background-color-main);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  border: 2px solid var(--border-color-main);
  border-radius: 12px;
  width: min-content;
  padding: 50px;
  background: var(--background-card-color-main);
}

.to-do {
  display: grid;
  grid-template-columns: none;
  grid-column: auto;
  gap: 5px;
}

.form-eating {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.row-label {
  margin: 0;
}

.favorite-food {
  width: 100%;
}

#name-drink {
  min-height: 100px;
}

#disabled {
  color: var(--text-color-disabled);
}

.input {
  max-height: 15vh;
  max-width: 100vh;
  min-width: 550px;
  width: 100%;
  border: 2px solid var(--border-color-main);
  border-radius: 12px;
  padding: 10px 15px;
  background-color: transparent;
  color: var(--text-color-main);
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0 20px 0px;
}

.button-container {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.button {
  width: 50px;
  height: 50px;
  border: 2px solid var(--border-color-main);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.button svg {
  display: block;
  width: 100%;
  height: 100%;
}

.submit-button {
  max-height: 15vh;
  max-width: 100vh;
  border-radius: 12px;
  padding: 10px 15px;
  border: none;
  background: var(--google-blue);
  color: var(--text-color-button);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 400;
}

@media (max-width: 1080px) {
  .form-eating {
    display: grid;
    grid-template-columns: none;
    grid-column: auto;
    gap: 5px;
  }

  .input {
    max-height: 10vh;
    max-width: 60vh;
    min-width: 340px;
  }
}
