*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --c-yt-background-main: hsl(0, 0%, 7%);
  --c-yt-background-border: hsl(0, 0%, 18.82%);
  --c-yt-background-button: #282828;
}

header {
  display: flex;
  height: 56px;
  padding: 0 8px;
  align-items: center;
  justify-content: space-between;
}

.start {
  width: 169px;
  display: flex;
}

.voice-search,
.notifications,
.profile-avatar,
.search-input-mobile {
  margin-left: 8px;
  border-radius: 50%;
  min-width: 40px;
  max-width: 40px;
  width: 40px;
  height: 40px;
}

.burger-menu {
  border-radius: 50%;
  min-width: 40px;
  max-width: 40px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.search-input-mobile {
  display: none;
}

.voice-search {
  margin-left: 16px;
}

.create {
  margin-left: 8px;
  border-radius: 40px;
  width: 95px;
  height: 40px;
}

.profile-avatar {
  margin-left: 16px;
}

.youtube-logo-wrapper {
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 159px;
}

.search-form {
  display: flex;
  min-width: 0px;
  max-width: 735px;
  height: 40px;
}

.search-input {
  padding-left: 15px;
  min-width: 0;
  width: 586px;

  border-radius: 40px 0 0 40px;
}

.search-button {
  width: 64px;
  border-radius: 0 40px 40px 0;
}

.profile-nav {
  display: flex;
}

/* --- Main ---*/
main {
  height: 100vh;
  display: grid;
  grid-template-columns: 56px 1fr;
  grid-template-rows: 56px 1fr;
}

.main-sidebar-nav {
  grid-row: 1 / 3;
}

@media (max-width: 660px) {
  .search-input,
  .search-button {
    display: none;
  }

  .search-input-mobile {
    display: flex !important;
  }
}