*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --c-yt-text-size-main: 10px;
  --c-yt-background-main: hsl(0, 0%, 62%);
  --c-yt-border: #d3d3d3;
  --c-yt-border-focus: #065fd4;
  --c-yt-button: #f2f2f2;
  --c-yt-button-search: #f8f8f8;
  --c-yt-button-search-hover: #f0f0f0;
  --c-yt-button-hover: rgba(0, 0, 0, 0.1);
  --c-yt-button-disabled: #909090;
}

html {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: var(--c-yt-text-size-main);
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html,
body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  height: 56px;
  padding: 0 8px;
  align-items: center;
  justify-content: space-between;
}

.start {
  width: 169px;
  display: flex;
}

.voice-search,
.notifications,
.profile-avatar,
.search-input-mobile,
.voice-search-mobile {
  border: none;
  margin-left: 8px;
  border-radius: 50%;
  min-width: 40px;
  max-width: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.burger-menu {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  min-width: 40px;
  max-width: 40px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.burger-menu:hover {
  background-color: var(--c-yt-button-hover);
}

.search-input-mobile, .voice-search-mobile {
  background-color: transparent;
  border: none;
  display: none;
}

.search-input-mobile:hover, .voice-search-mobile:hover {
  background-color: var(--c-yt-button-hover);
  border: none;
  display: none;
}

.voice-search {
  background-color: var(--c-yt-button);
  display: flex;
  justify-content: center;
  margin-left: 16px;
  cursor: pointer;
}

.voice-search:hover {
  background-color: var(--c-yt-button-hover);
}

.profile-nav .create {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--c-yt-button);
  margin-left: 8px;
  border-radius: 36px;
  width: 95px;
  height: 36px;
  cursor: pointer;
}

.create-icon {
  margin-right: 6px;
  margin-left: -6px;
}

.create span {
  font-size: 14px;
  line-height: 36px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
}

.create:hover {
  background-color: var(--c-yt-button-hover);
}

.notifications {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.notifications:hover {
  background-color: var(--c-yt-button-hover);
}

.profile-avatar {
  margin-left: 16px;
}

.youtube-logo-wrapper {
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 159px;
}

.search-form {
  display: flex;
  min-width: 0px;
  max-width: 735px;
  height: 40px;
  margin: 0 0 0 62px;
}

.search-input {
  padding-left: 15px;
  min-width: 0;
  width: 586px;
  border-radius: 40px 0 0 40px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
  border: 1px solid;
  border-color: var(--c-yt-border);
}

.search-input:focus {
  border-color: var(--c-yt-border-focus);
  outline: none;
}

.search-button {
  display: flex;
  justify-content: center;
  min-width: 64px;
  max-width: 64px;
  width: 64px;
  border-radius: 0 40px 40px 0;
  border: 1px solid var(--c-yt-border);
  background-color: var(--c-yt-button-search);
  border-left: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--c-yt-button-search-hover);
}

.profile-nav {
  display: flex;
  align-items: center;
}

/* --- Main ---*/
main {
  height: 100%;
  display: grid;
  grid-template-columns: 56px 1fr;
  grid-template-rows: 56px 1fr;
}

.main-sidebar-nav {
  padding: 0 8px 0 8px;
  grid-row: 1 / 3;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid var(--c-yt-border);
  margin-bottom: 8px;
  height: 40px;
}

.tags-nav {
  padding: 0 24px 0 24px;
  width: 100%;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.tag {
  white-space: nowrap;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  padding: 0;
  height: 32px;
  border: none;
  border-radius: 8px;
  margin: 12px;
  margin-left: 0px;
  background-color: var(--c-yt-button);
  cursor: pointer;
}

.tag-checked {
  color: white;
  background-color: black;
}

.tag p {
  margin: 0;
  padding: 0 12px;
}

.video-grid {
  display: grid;
  gap: 16px;
  padding: 24px 24px 0 24px;
  grid-template-columns: repeat(auto-fit, minmax(max(250px, 100% / 5), 1fr));
}

.video-card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}

.video-preview {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #282828;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-bottom: 24px;
}

.author-avatar {
  border-radius: 50%;
  background-color: #282828;
  min-width: 36px;
  min-height: 36px;
  width: 36px;
  height: 36px;
}

.video-details {
  display: flex;
}

.video-info {
  padding-left: 16px;
  width: 100%;
}

.video-name {
  margin-top: 0;
}

@media (max-width: 660px) {
  .search-input,
  .search-button,
  .voice-search {
    display: none;
  }

  .search-input-mobile,
  .voice-search-mobile {
    display: flex !important;
    justify-content: center;
  }
}
