*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --ya-background-main: #161617;
  --ya-backgound-search: #383839;
  --ya-border-main: #393939;
  --ya-text-search: #9c9c9c;
  --ya-text-main: #7f7f7f;
  --ya-icon-color: var(--ya-text-search);
  --ya-hover: #fff9;
  --ya-input-caret-color: #f8604a;
}

/* ya */

.ya-search {
  display: flex;
  justify-content: center;
  background-color: var(--ya-background-main);

  padding: 50px 50px 80px 50px;
}

.ya-search-form {
  display: flex;
  align-items: center;

  border-radius: 65px;

  background-color: var(--ya-backgound-search);
  max-width: 1400px;
  max-height: 65px;
  min-width: 723px;
  min-height: 0px;
  width: 1030px;
  height: 65px;
}

.ya-logo {
  min-height: 48px;
  min-width: 48px;
  height: 48px;
  width: 48px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'%3E%3Crect width='40' height='40' fill='%23F8604A' rx='20'/%3E%3Cpath fill='%23fff' d='M22.776 31.5h4.178v-24h-6.078c-6.112 0-9.324 3.142-9.324 7.77 0 3.695 1.762 5.87 4.904 8.115L11 31.5h4.524l6.077-9.082-2.106-1.416c-2.555-1.726-3.799-3.073-3.799-5.974 0-2.555 1.796-4.282 5.215-4.282h1.864V31.5Z'/%3E%3C/svg%3E")
    50% / contain no-repeat;
  margin-left: 8px;
}

.ya-submit {
  aspect-ratio: 1;
  height: 45px;
  padding: 0;
  color: #f8604a;
  margin-left: 12px;
  margin-right: 12px;
}

.ya-icon {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.ya-keyboard,
.ya-voice,
.ya-camera,
.ya-clear {
  height: 48px;
  width: 48px;
  color: var(--ya-icon-color);
}

.ya-keyboard,
.ya-camera {
  padding: 0;
}

.ya-camera {
  margin-right: 15px;
}

.ya-keyboard:hover,
.ya-voice:hover,
.ya-camera:hover,
.ya-clear:hover {
  color: var(--ya-hover);
}

.ya-keyboard {
  display: none;
}

.ya-search-input {
  margin-left: -44px;
  width: 100%;
  height: 56px;
  border: none;
  background-color: transparent;
  padding-left: 84px;

  font-size: 18px;
  opacity: 1;
  color: white;
}

.ya-search-input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  opacity: 1;
  color: var(--ya-text-search);
  text-align: center;
}

.ya-search-input:focus {
  caret-color: var(--ya-input-caret-color);
  outline: none;
  margin-left: 20px;
  padding-left: 0;
}

.ya-search-input:focus::placeholder {
  text-align: left;
}

.ya-search-input:focus ~ .ya-keyboard {
  display: flex;
}

.ya-search-input:focus ~ .ya-logo {
  display: none;
}

/* Order Section */

.ya-logo {
  order: 0;
}

.ya-search-input {
  order: 1;
}

.ya-keyboard {
  order: 2;
}

.ya-voice {
  order: 3;
}

.ya-camera {
  order: 4;
}

.ya-clear {
  order: 5;
}

.ya-submit {
  order: 6;
}

.ya-clear, .ya-submit {
  display: none;
}
