*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  font-variation-settings:
    "wght" 500,
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}


:root {
  --blue-background: #e3f2fd;
  --green-background: #e8f5e9;
  --red-background: #ffebee;

  --text-color: #1f1f1f;

  --text-large: 48px;
  --text-small: 16px;
}

body {
  margin: 0;
}

.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 25px;
  gap: 25px;
  align-content: start;
  height: 100vh;
}


.project {
  display: grid;
  border-radius: 48px;
  cursor: pointer;
  text-decoration: none;

  transition: font-variation-settings 500ms ease, background-color 500ms ease;
}

.to-do:hover {
  font-variation-settings:
    "wght" 800,
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;

  background-color: var(--blue-background);
}

.search:hover {
  font-variation-settings:
    "wght" 800,
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;

  background-color: var(--green-background);
}

.youtube:hover {
  font-variation-settings:
    "wght" 800,
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
  background-color: var(--red-background);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 40px;
}

.head {
  color: var(--text-color);
  font-size: var(--text-large);
  margin-top: 0;
  margin-bottom: 32px;
}

.description {
  color: var(--text-color);
  font-size: var(--text-small);
  margin-top: 0px;
}
